@import './base.css';

#app {
  font-weight: normal;
}

.hide{
  display: none;
}

a,
.green {
  text-decoration: none;
  color: white;
  transition: 0.4s;
}

@media (hover: hover) {
  nav a:hover {
    background-color: hsla(224, 90%, 55%, 0.2);
  }
}
